/* background-color: #565acf; */
#494db0 .styles_wrapper__1kG3C {
  background: transparent !important;
}
.styles_gridItem__nPXhF figcaption {
  background: #f17732 !important;
}
.styles_gridItem__nPXhF figure > div > img {
  opacity: 1 !important;
  transition: 0.5s ease-in;
  width: 100%;
}
.styles_gridItem__nPXhF figure > div > img:hover {
  opacity: 0.7 !important;
}

.styles_wrapper__1kG3C {
  min-height: 75vh !important;
  background: transparent !important;
}

.styles_gridItem__nPXhF {
  max-width: 100% !important;
}

.__react_modal_image__modal_container {
  overflow-y: scroll !important;
  top: 10% !important;
}

.__react_modal_image__header {
  background-color: #0091c3 !important;
}
.__react_modal_image__caption {
  margin-left: 18% !important;
}

.modal-backdrop {
  background-color: #0091c3 !important;
}
.modal-backdrop.show {
  opacity: 0.5 !important;
}

.model-close-btn {
  background: #0091c3;
  color: #ffff;
  font-weight: 800;
  font-size: 1.6rem;
  transition: 0.5s ease;
  line-height: 1.2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #0091c3;
  outline: none;
  position: absolute;
  right: -20px;
  top: -20px;
}

.contact_info span {
  background: #f17732;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
}
.contact_info span i {
  color: rgb(255, 255, 255) !important;
}

.main-banner h5 {
  font-size: 18px;
  font-weight: 700;
  color: #1f2278;
}
